<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="studentsResults">
            <div class="studentsResults__tabl">
                <div class="studentsResults__cell"> Имя </div>
                <div class="studentsResults__cell"> Резульат на Урок№1</div>
                <div class="studentsResults__cell"> Резульат на Урок№5 </div>
                <div class="studentsResults__cell"> Резульат на Урок№10 </div>
            </div>
        </div>
    </div>
</body>
</html>
